cmp-databinding-final.zip cmp-databinding-start.zip debugging.zip
assignment/basics-components.zip assignment/basics-databinding.zip assignment/basics-directives.zip assignment/basics-final.zip assignment/basics-ngfor-addition.zip
first-app/node_modules shopping-list/node_modules
*/_MACOSX
